body {
  margin: 0;
  overflow-x: hidden;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #007bff;
  height: 50px;
  padding: 10px;
  width: 100%;
}

.search-form input[type='text'] {
  display: flex;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
}
.svg {
  position: absolute;
  top: 15;
  left: 681;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.search-form button[type='submit'] {
  padding: 10px 20px;
  background-color: #007bff;
  border: 2px solid white;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-card {
  width: calc(25% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
  height: 80%;
}

.photo-card:hover {
  transform: translateY(-5px);
}

.photo-card img {
  max-height: 300px;
}

.photo-card .info {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

.photo-card .info-item {
  margin: 0;
  padding: 5px 0;
}

.photo-card .info-item b {
  font-weight: bold;
}

.load-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-left: 45%;
  width: 80px;
}

.load-more:hover {
  background-color: #0069d9;
}

.is-hidden {
  display: none;
}
